API_PORT=3000
DATABASE_URL="postgresql://domino:domino@localhost:5432/domino2_platform?schema=public"
BETTER_AUTH_SECRET="replace-with-a-random-32-plus-char-secret"
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ADMIN_APP_URL="http://localhost:3001"
GAME_WEB_URL="http://localhost:2567"
