API_PORT=3000
DATABASE_URL="postgresql://domino:domino@localhost:5432/domino2_platform?schema=public"
BETTER_AUTH_SECRET="replace-with-a-random-32-plus-char-secret"
BETTER_AUTH_URL="https://apid.simplesoft.az"
PUBLIC_APP_ORIGIN="https://gamed.simplesoft.az"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ADMIN_APP_URL="https://admind.simplesoft.az"
GAME_WEB_URL="https://gamed.simplesoft.az"
